body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 562%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #576F72;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #7D9D9C;
  font-weight: normal;
}

h3, table {
  font-family: 'Montserrat', sans-serif;
  color: #7D9D9C;
}

a {
  color: #576F72;
}

.top-container {
  background-color: #F0EBE3;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #7D9D9C;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0 auto;
}

.skill-img {
  width: 25%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #6db0a3 2px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: grey;
}

.left {
  text-align: left;
}

p {
  font-family: 'Montserrat', sans-serif;
}

black {
  color: black;
}

.profile {
  margin: 100px auto;
}

.center {
margin: 0 auto;
font-size: 2.5vw;
padding: auto 30000px;
}

.mountain {
  max-width: 90vw;
}
